<?xml version="1.0" encoding="iso-8859-1" ?>
<routes>
	<route url="/" module="Cours" action="index" />
	<route url="/cours" module="Cours" action="list_matiere" />
	<route url="/cours/([^/]+)" module="Cours" action="list_cours" vars="libelle"/>
	<route url="/cours/(.+)/([0-9]+)" module="Cours" action="show" vars="libelle,id"/>
	<route url="/contact" module="Contact" action="index" />
	<route url="/travaux-slam" module="Travaux" action="index" />
	<route url="/tutos" module="Tutos" action="index" />
	<route url="/connexion" module="Connexion" action="index" />
</routes>